@title@
===
@project.description@


## Prerequisites
Yarn - Npm should work but you are really on your own, yarn is better.
OSX
```sh
  $ brew install yarn
```
or
```sh
  $ npm install -g yarn
```


## Demo
See it in action [here](@demo.url@)

Or run it 

```sh
  git clone @project.repository@
  cd @project.name@
  yarn install
  yarn run server &
  open http://localhost:8082
```

## Tests
Using Karma

For interactive tests

```sh
  $ yarn run karma
```

For non-interactive tests

```sh
 $ yarn run test
```

## Usage (as a component)

Typical usage

```sh
$ yarn add @project.name@
```

```jsx

 import React, {Component} from 'react';
 import {loader, Form} from 'subschema';
 import @jsName@ from '@project.name@';
 
 loader.addLoader(@jsName@);
 
 //A simple Schema for this demo.
 var schema = @-sample.schema@
 
 export default class App extends Component {
 
     render() {
         return <div>
             <h3>@project.description@</h3>
             <Form schema={schema}/>
         </div>
     }
 }


  
```
